.button-sub {
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(246, 98, 128, 1) 0%,
    rgba(248, 129, 135, 1) 98.3%
  );
}

.button-sub:active {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(253, 52, 92) 0%,
    rgba(248, 129, 135, 1) 98.3%
  );
}
.button-send {
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(10, 164, 236) 0%,
    #48f565 98.3%
  );
}

.button-send :active {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #0aecb3 0%,
    #48f573 98.3%
  );
}
.button-clear {
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(255, 126, 66) 0%,
    #f5be48 98.3%
  );
}

.button-clear :active {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #ec510a 0%,
    #e3f030 98.3%
  );
}
.button-his {
  width: 220px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(98, 108, 246) 0%,
    rgb(129, 200, 248) 98.3%
  );
}

.button-his:active {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(98, 108, 246) 0%,
    rgb(129, 200, 248) 98.3%
  );
}
.button-his:disabled,
button[disabled] {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(138, 138, 138) 0%,
    rgb(119, 123, 126) 98.3%
  );
}
